.landing{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



.nav-heading{
    font-size: 1.85rem;
}

.landing-content{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.landing-header{
    
    font-weight: 700;
    text-align: center;
    font-size: 1.85rem;
    text-wrap: pretty;
}

.landing-subheading{
    font-size: 0.9rem;
    text-align: center;
    color: grey;
    line-height: 1.15rem;
}

.sow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    
}

.sow-elem{
    height: 1.5rem;
}

.sow-mid{
    display: flex;
    align-items: center;
    background-color: teal;
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    gap: 0.25rem;
    color: rgb(247, 244, 244);
}

.landing-inner{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.use-cases{
    background-color: rgb(0, 128, 109);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem
}

.useCaseHeading{
    font-size: 1.85rem;
    color: white;
    
}
.useCaseSubHead{
    
    font-size: 0.9rem;
    color: white;
    text-align: center;
    line-height: 1.15rem;
    
}


body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    letter-spacing: 0.009rem;
}

.allUseCases{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.useCaseCard{
    background-color: white;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    gap: 1rem;
    border-radius: 1rem;
    max-height: 200px;
}

.useCaseCard a{
    color: rgb(54, 191, 131);
    text-decoration: none;
} 

.useCaseCardHeading{
    font-size: 1rem;
    font-weight: 600;
}

.useCaseCardContent{
    color: grey;
    line-height: 1.15rem;
}


.howHeading{
    font-size: 1.85rem;
    text-align: center;
}
.howSubHeading{
    font-size: 0.9rem;
    text-align: center;
    color: grey;
    line-height: 1.15rem;
}

.howItWorks{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.howContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    gap: 1rem;
    width: 100%;
}

.howCard{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.9rem;;
}

.howCardRight{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.howCardContent{
    color: grey;
    line-height: 1.15rem;
    
}

.howCardTitle{
    line-height: 1.15rem;
}
.howCardLeft{
    
    padding: 40px;
    border-radius: 40px;
    text-align: center;
    background-color: teal;
    font-size: 1rem;
    color: aliceblue;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
}

.benefits{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.benefitsSubHeading{
    font-size: 1.85rem;
}
.benefitsHeading{
    color: teal;
    font-weight: 600;
}

.benefitsContent{
    color: grey;
    font-size: 0.9rem;
    line-height: 1.15rem;
}

.reviews{
    width: 85%;
    margin: auto;
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,teal,rgb(102, 203, 141));
    border-radius: 1rem;
}

.reviewContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reviewCard{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.reviewCardContent{
    font-size: 0.75rem;
}

.reviewCardTitle{
    font-size: 0.9rem;
    font-weight: 600;
}

.reviewCardAuthor{
    display: flex;
    font-size: 0.75rem;
    gap: 0.5rem;
    align-items: center;
}

.reviewHeading{
    font-weight: 600;
}

.pricing{
    background:linear-gradient(to bottom,white, rgb(152, 231, 208));
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.pricingHeading{
    font-size: 1.85rem;
}

.pricingSubHeading{
    text-align: center;
    font-size: 0.9rem;
    color: grey;
    line-height: 1.15rem;
}

.pricingContent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pricingCard{
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: lightblue;
    gap: 0.5rem;
    background:linear-gradient(to bottom,white, rgb(152, 231, 208));
    border-radius: 1rem;
    box-shadow: 10px 10px 3px 3px rgb(29, 0, 87);

}

.priceHeading{
    font-size: 0.9rem;
    color: teal;
    font-weight: 600;
}

.price{
    font-size: 1.5rem;
}

.priceAndBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.priceSubHeading{
    font-size: 0.9rem;
}
.flist{
    font-size: 0.75rem;
    color: teal;
}

.priceBtn{
    font-size: 0.9rem;
    padding: 0.5rem;
    background-color: teal;
    border-radius: 0.5rem;
    color: white;
}

.levelUp{
    background: linear-gradient(to right bottom, rgb(6, 80, 58),rgb(36, 150, 118));
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.levelUpHeading{
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.levelUpSubHeading{
    font-size: 0.9rem;
    color: white;
    line-height: 1.15rem;
    
}

.levelUpBtn{
    background-color: rgb(6, 6, 77);
    color: white;
    padding: 0.5rem 0.9rem;
    font-size: 0.9rem;
    width: fit-content;
    border-radius: 0.25rem;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 1.5rem;
    
}

.company, .product{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.25rem;
}

.footerHeading{
    padding: 0.5rem;
    font-weight: 600;
}

.footerSubHeading{
    color: grey;
    font-size: 0.9rem;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem;
}

.footerTitleHeading{
    font-size: 2rem;
}

.footerSubTitleHeading{
    font-size: 0.9rem;
}

.subsubHeading{
    padding: 1rem 0;
    font-size: 0.9rem;
}
