.landing{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



.nav-heading{
    font-size: 1.5rem;
}

.landing-content{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.landing-header{
    
    text-align: center;
    font-size: 1.5rem;
    text-wrap: pretty;
}

.landing-subheading{
    font-size: 0.75rem;
    text-align: center;
}

.sow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    
}

.sow-elem{
    height: 1.5rem;
}

.sow-mid{
    display: flex;
    align-items: center;
    background-color: teal;
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    gap: 0.25rem;
    color: rgb(247, 244, 244);
}

.landing-inner{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.use-cases{
    background-color: rgb(0, 128, 109);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem
}

.useCaseHeading{
    font-size: 2rem;
    color: white;
    
}
.useCaseSubHead{
    
    font-size: 0.75rem;
    color: white;
    text-align: center;
    
}


body{
    padding: 0;
    margin: 0;
}

.allUseCases{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.useCaseCard{
    background-color: white;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 1rem;
    border-radius: 1rem;
}

.useCaseCard a{
    color: rgb(54, 191, 131);
    text-decoration: none;
} 

.useCaseCardHeading{
    font-size: 1rem;
    font-weight: 600;
}


